<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>getAquote1</title>
    <link rel="stylesheet"  type="text/css" href="style.css">
</head>
<body>
  <%-include('../partials/bar.ejs');%>
    <section class="sectiont">
        <div class="thumbnail">
          <a href="albeta"> <img src="https://media.istockphoto.com/id/157593982/photo/grand-foyer-staircase-chandelier-marble-floor-showcase-home-interior-design.webp?b=1&s=170667a&w=0&k=20&c=eswQRrD0ElWahdNK43lg6-m7ASGGHIaEi_q62VlfTC0=" alt="Albeta Marble">
          <h3>Albeta Marble</h3> </a>
        </div>
        <div class="thumbnail">
         <a href="dungari" > <img src="https://media.istockphoto.com/id/1281513233/photo/modern-luxury-kitchen-on-marble-floor.webp?b=1&s=170667a&w=0&k=20&c=25AGotInJL6h7tN1nClfMl9I9JxKzDa0ByRDyi4S92k=" alt="Dungri Marble">
          <h3>Dungri Marble</h3> </a>
        </div>
        <div class="thumbnail">
          <a href="kumari">
          <img src="https://media.istockphoto.com/id/1133402160/photo/marble-interior-of-a-luxury-lobby-of-company-or-hotel.webp?b=1&s=170667a&w=0&k=20&c=bIS-22bSOELvcSsXK7DlTxrs90AQ7zBkzcx-1GNurDc=" alt="Kumari Marble">
          <h3>Kumari Marble</h3> </a>
        </div>
        <div class="thumbnail">
          <a href="cutsize">
          <img src="https://media.istockphoto.com/id/167762605/photo/modern-office-building-interior.webp?b=1&s=170667a&w=0&k=20&c=T0FxatQiG8lEaEOTm2meQ7QE3qoYKPRixdKuALMPAVs=" alt="Cut Size Marble">
          <h3>Cut Size Marble</h3>
          </a>
        </div>
        <div class="thumbnail">
          <a href="specialdesign">
          <img src="https://media.istockphoto.com/id/637350420/photo/grunge-background.webp?b=1&s=170667a&w=0&k=20&c=dT6pMumFoWNditR0jQZFK5btwWW54AmnAjiYPfxKWqw=" alt="Special Design">
          <h3>Special Design</h3> </a>
        </div>
      </section>
    
      <div class="container">
        <p class="para">Get Professional Services. Call us Now: 124 789 654</p>
      </div>
      
  <%-include('../partials/nav.ejs');%>
</body>
</html>