<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %> </title></title>
</head>
<body>
  <%-include('../partials/bar.ejs');%>
      <div class="container">
        <h1>Welcome to the Kumari Marble Store</h1>
        <div class="marble-card">
          <div>
            <img class="alb1" src="/img/273mar1.jpg" alt="Albeta Marble" style="width:100%">
            <img class="alb1" src="/img/273mar2.jpg" alt="Kumari Marble" style="width:100%">
            <img class="alb1"  src="/img/273mar3.jpg" alt="Special Design" style="width: 100%"> 
          </div>
        <div>
          <pre>
          <h2>Type: Kumari Marble </h2> </pre>
          <p>Size: (32X25)Feet</p>
          <p>Number of Slabs: 66</p>
          <p>Price: Rs 60(per sq feet)</p>
          <a href="tel:8882192787"> <button class="btn">Call Now</button> </a>
          <a href="https://api.whatsapp.com/send?phone=918962027377" target="_blank"> <button class="btn">Whatsapp Us</button>
          </a>
        </div>
      </div>
      <div class="marble-card">
        <div>
          <img class="alb2" src="/img/1137mar1.jpg" alt="Albeta Marble" style="width:100%">
          <img class="alb2" src="/img/1137mar2.jpg" alt="Kumari Marble" style="width:100%">
          <img class="alb2"  src="/img/1137mar1.jpg" alt="Special Design" style="width: 100%"> 
        </div>
      <div>
        <pre>
        <h2>Type: Kumari Marble </h2> </pre>
        <p>Size: (39X36)Feet</p>
        <p>Number of Slabs: 44</p>
        <p>Price: Rs 70(per sq feet)</p>
        <a href="tel:8882192787"> <button class="btn">Call Now</button> </a>
        
        <a href="https://api.whatsapp.com/send?phone=918962027377" target="_blank"> <button class="btn">Whatsapp Us</button>
        </a>
      </div>
    </div>

    <div class="marble-card">
      <div>
        <img class="alb3" src="/img/1138mar1.jpg" alt="Albeta Marble" style="width:100%">
        <img class="alb3" src="/img/1138mar2.jpg" alt="Kumari Marble" style="width:100%">
        <img class="alb3"  src="/img/1138mar1.jpg" alt="Special Design" style="width: 100%"> 
      </div>
    <div>
      <pre>
      <h2>Type: Kumari Marble </h2> </pre>
      <p>Size: (63X31)Feet</p>
      <p>Number of Slabs: 47</p>
      <p>Price: Rs 50(per sq feet)</p>
      <a href="tel:8882192787"> <button class="btn">Call Now</button> </a>
      
      <a href="https://api.whatsapp.com/send?phone=918962027377" target="_blank"> <button class="btn">Whatsapp Us</button>
      </a>
    </div>
  </div>
  
  <div class="marble-card">
    <div>
      <img class="alb4" src="/img/1139mar1.jpg" alt="Albeta Marble" style="width:100%">
      <img class="alb4" src="/img/1139mar2.jpg" alt="Kumari Marble" style="width:100%">
      <img class="alb4"  src="/img/1139mar1.jpg" alt="Special Design" style="width: 100%"> 
    </div>
  <div>
    <pre>
    <h2>Type: Kumari Marble </h2> </pre>
    <p>Size: (47X36)Feet</p>
    <p>Number of Slabs: 37</p>
    <p>Price: Rs 70(per sq feet)</p>
    <a href="tel:8882192787"> <button class="btn">Call Now</button> </a>
    
    <a href="https://api.whatsapp.com/send?phone=918962027377" target="_blank"> <button class="btn">Whatsapp Us</button>
    </a>
  </div>
</div>

<div class="marble-card">
  <div>
    <img class="alb5" src="/img/1149mar1.jpg" alt="Albeta Marble" style="width:100%">
    <img class="alb5" src="/img/1149mar2.jpg" alt="Kumari Marble" style="width:100%">
    <img class="alb5"  src="/img/1149mar1.jpg" alt="Special Design" style="width: 100%"> 
  </div>
<div>
  <pre>
  <h2>Type: Kumari Marble </h2> </pre>
  <p>Size: (32X25)Feet</p>
  <p>Number of Slabs: 66</p>
  <p>Price: Rs 60(per sq feet)</p>
  <a href="tel:8882192787"> <button class="btn">Call Now</button> </a> 
  <a href="https://api.whatsapp.com/send?phone=918962027377" target="_blank"> <button class="btn">Whatsapp Us</button>
  </a>
</div>
</div>
  <%-include('../partials/nav.ejs');%>
  <%-include('../partials/head.ejs');%>
</body>
</html>